.hotel {
    line-height: 0;
    border-radius: 7px;
    background-color: white;
    overflow: auto;
    margin: 0.5rem;
}

.image {
    float: left;
    padding: 0.5rem;
}
.desc {
    text-align: left;
}

p {
    font-size: 10px;
    color: grey;
    text-align: right;
    padding-right: 0.3rem;
}
h4 {
    text-align: right;
    margin-right: 0.5rem;
}